LetsGoBikingServer/LetsGoBikingServer/Connected Services/ProxyService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProxyService" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/ProxyService">
    <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LetsGoBikingServer/ProxyService/?xsd=xsd3"
               namespace="http://schemas.datacontract.org/2004/07/System.Device.Location"/>
    <xs:complexType name="ArrayOfStation">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation"/>
    <xs:complexType name="Station">
        <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0"
                        name="Coordinate" nillable="true" type="q1:GeoCoordinate"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Station" nillable="true" type="tns:Station"/>
</xs:schema>